USE [master]
GO
/****** Object:  Database [PruebaAppinit]    Script Date: 21/11/2025 4:10:46 p. m. ******/
CREATE DATABASE [PruebaAppinit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaAppinit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PruebaAppinit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaAppinit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PruebaAppinit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaAppinit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaAppinit]
GO
/****** Object:  User [rafa]    Script Date: 21/11/2025 4:10:46 p. m. ******/
CREATE USER [rafa] FOR LOGIN [rafa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 21/11/2025 4:10:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [uniqueidentifier] NOT NULL,
	[Player1Name] [nvarchar](200) NOT NULL,
	[Player2Name] [nvarchar](200) NOT NULL,
	[ScoreP1] [int] NOT NULL,
	[ScoreP2] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rounds]    Script Date: 21/11/2025 4:10:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rounds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [uniqueidentifier] NOT NULL,
	[P1Move] [nvarchar](50) NOT NULL,
	[P2Move] [nvarchar](50) NOT NULL,
	[Outcome] [nvarchar](50) NOT NULL,
	[RoundNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Games_Player1]    Script Date: 21/11/2025 4:10:47 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Games_Player1] ON [dbo].[Games]
(
	[Player1Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Games_Player2]    Script Date: 21/11/2025 4:10:47 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Games_Player2] ON [dbo].[Games]
(
	[Player2Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rounds_GameId_RoundNumber]    Script Date: 21/11/2025 4:10:47 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Rounds_GameId_RoundNumber] ON [dbo].[Rounds]
(
	[GameId] ASC,
	[RoundNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT ((0)) FOR [ScoreP1]
GO
ALTER TABLE [dbo].[Games] ADD  DEFAULT ((0)) FOR [ScoreP2]
GO
ALTER TABLE [dbo].[Rounds]  WITH CHECK ADD  CONSTRAINT [FK_Rounds_Games] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rounds] CHECK CONSTRAINT [FK_Rounds_Games]
GO
USE [master]
GO
